/*-header-*/
@media(max-width:1740px) {
	.header-list-link {
		margin-right: 20px;
	}

	.header-tell {
		padding-left: 15px;
	}

	.header-contact {
		padding-right: 0;
	}
}

@media(max-width:1520px) {
	.header-tell {
		display: block;
		padding-bottom: 5px;
	}
}

@media(max-width:1400px) {
	.header-contact-wrap {
		padding-right: 0;
	}

	.header-tell {
		padding-left: 0;
	}


	.header-nav {
		position: fixed;
		z-index: 5;
		left: 0;
		top: 0;
		width: 290px;
		background: #fff;
		height: 100vh;
		padding: 60px 20px 20px 20px;
		overflow: auto;
		transform: translateX(-300%);
		transition: .4s;
	}

	.header-menu-open {
		display: flex;
	}

	.header-nav.active {
		transform: translate(0);
	}

	.header-close {
		display: flex;
	}

	.header-nav-list {
		flex-direction: column;
	}

	.header-list-link {
		display: block;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.header-mail-mob {
		display: block;
	}

	.header-mail {
		display: none;
	}
}

@media(max-width:992px) {
	.logo-text {
		margin-right: 5px;
		font-size: 12px;
		line-height: 10px;
		padding-top: 0;
	}

	.logo-img {
		height: 36px;
	}

	.header-mess-img {
		width: 19px;
		height: 19px;
	}

	.header-tell {
		font-weight: 700;
		font-size: 16px;
		line-height: 16px;
	}



	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media(max-width:365px) {
	.logo-text {
		display: none;
	}
}

/*-main-*/
@media(max-width:1510px) {
	.main-wrapp {
		padding-left: 45px;
	}

	.main-box {
		width: 90%;
		display: flex;
		flex-wrap: wrap;
	}

	.main-link {
		display: block;
		margin-bottom: 5px;
	}
}

@media(max-width:992px) {
	.main-box-img {
		display: none;
	}

	.main-coll {
		left: 0;
		padding-top: 34px;
		padding-left: 21px;
		padding-bottom: 42px;

		&:after,
		&::before {
			content: '';
			border: none;
		}
	}

	.main-wrapp {
		padding-left: 0;
		border: 21px solid rgba(230, 240, 232, 0.47);
	}

	.main-padding {
		padding-top: 23px;
	}

	.main-title {
		font-weight: 700;
		font-size: 26px;
		line-height: 31px;
		padding-bottom: 16px;

		span {
			font-weight: 700;
			font-size: 26px;
			line-height: 31px;
		}
	}

	.main-link {
		font-weight: 500;
		font-size: 12px;
		line-height: 20px;
		margin-right: 12px;
		margin-bottom: 0;
	}

	.main-box {
		width: 100%;
		padding-bottom: 23px;
	}

	.main-text {
		width: 90%;
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;

	}

}

@media(max-width:350px) {

	.main-title,
	.main-title span {
		font-weight: 700;
		font-size: 24px;
		line-height: 31px;
	}
}

/*-form-one-*/
@media(max-width:1575px) {
	.form-box {
		max-width: 80%;
	}

	.form-text-2-one {
		width: 380px;
	}

	.form-btn-one {
		width: 380px;
	}
}

@media(max-width:1400px) {
	.form-row-line-one {
		width: 49%;
	}

	.form-row-coll-one {
		width: 49%;
	}

	.form-1 {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media(max-width:992px) {
	.form-title {
		text-align: center;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		padding-bottom: 15px;
	}

	.forms-one {
		padding-top: 8px;
	}

	.form-text {
		text-align: center;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 27px;
	}

	.form-input {
		display: block;
		width: 93%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 17px;
		height: 56px;
		padding-left: 14px;
	}

	.form-row {
		flex-direction: column;
		padding-bottom: 17px;
	}

	.form-1 {
		padding-top: 25px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 30px;
	}

	.form-row-2 {
		flex-direction: column;

		width: 93%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 22px;
	}

	.form-row-coll {
		width: 100%;
	}

	.form-row-line {
		width: 100%;
	}

	.form-subtitle {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
	}

	.form-subtext {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		display: block;
	}

	.form-row-line {
		padding-top: 62px;
	}

	.noUi-tooltip {
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		width: 50px;
		height: 23px;
		top: -35px;
	}


	.form-line-text {
		font-weight: 900;
		font-size: 12px;
		line-height: 15px;
	}

	.form-row-3 {
		width: 93%;
		margin-left: auto;
		margin-right: auto;
		flex-direction: column;
	}

	.form-btn {
		width: 100%;
		font-weight: 700;
		font-size: 17px;
		line-height: 18px;
	}

	.form-btn-svg {
		width: 30px;
		margin-left: 30px;

	}

	.form-text-2 {
		font-weight: 400;
		font-size: 9px;
		line-height: 10px;
		text-align: center;
		width: 70%;
		margin-top: 20px;
		margin-left: 0;
	}
}

@media(max-width:572px) {
	.form-box {
		max-width: 95%;
	}
}

/*-.services-*/
@media(max-width:1200px) {
	.services-title {
		width: 100%;
	}
}

@media(max-width:992px) {
	.services-box-slider {
		overflow: hidden;
		width: 100%;
	}

	.services-btn {
		display: flex;
		z-index: 2;
	}

	.services-box-btn {
		display: flex;
	}

	.services-title {
		top: 60px;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;

		span {
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
		}
	}

	.services-box {
		padding-top: 185px;
		padding-bottom: 60px;
	}

	.services-img {
		width: 50px;
		margin-bottom: 32px;
	}

	.services-img-2 {
		width: 85px;
	}

	.services-img-three {
		margin-top: 0;
		width: 75px;
	}

	.services-box-title {
		font-weight: 700;
		font-size: 18px;
		line-height: 19px;
		padding-bottom: 20px;
	}

	.services-box-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}


}

/*-job-box-*/


@media(max-width:1450px) {
	.job-box {
		width: 260px;
		padding-left: 20px;
		padding-right: 20px;
	}
}


@media(max-width:1200px) {
	.job-coll-2 {
		width: 60%;
	}

	.job-coll {
		width: 40%;
	}
}

@media(max-width:992px) {
	.job-coll-2 {
		width: 100%;
		position: relative;
	}

	.job-coll {
		width: 100%;
	}

	.job-wrapp {

		display: block;
	}

	.job-box-btn {
		display: block;
	}

	.job-btn {
		display: flex;
		z-index: 2;
	}

	.job-box {
		margin: 10px;

	}

	.job-subttitle,
	.job-title {
		text-align: center;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
	}

	.job-title {
		padding-bottom: 20px;
	}

	.job-link {
		text-align: center;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 30px;
	}

	.job {
		padding-top: 25px;
		padding-bottom: 60px;
	}

	.job-img {
		margin: 0 auto 27px;
	}

	.job-box-title {
		text-align: center;
	}

	.job-box-text {
		text-align: center;
	}

	.job-box {
		padding-top: 35px;
	}
}

@media(max-width:660px) {
	.job-box {
		margin: 0;
	}
}

/*-kinds-*/
@media(max-width:1400px) {
	.kinds-coll {
		width: 35%;
	}

	.kinds-coll-2 {
		width: 65%;
	}
}

@media(max-width:992px) {
	.kinds-wrapp {
		display: block;
	}

	.kinds-text {
		display: none;
	}

	.kinds-box {
		display: block;
		padding-left: 35px;
	}

	.kinds-coll-2 {
		width: 100%;
	}

	.kinds-coll {
		display: none;
	}

	.kinds-title {
		width: 290px;
		text-align: center;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		text-align: center;

		margin-left: auto;
		margin-right: auto;
		padding-bottom: 21px;

		span {
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
		}
	}

	.kinds-padding {
		padding-top: 70px;
		padding-bottom: 73px;
	}

	.kinds-link-mob {
		display: block;
		text-align: center;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		padding-bottom: 55px;
	}

	.kinds-box-link {
		font-weight: 500;
		font-size: 16px;
		line-height: 40px;
	}

}

/*-repres-*/
@media(max-width:1480px) {
	.repres-img {
		width: 100%;
	}

	.repres-img-box {
		left: 0;
	}

	.repres-box-marker-1 {
		left: 7%;
	}

	.repres-box-marker-2 {
		left: 8%;
	}

	.repres-box-marker-3 {
		left: 44%;
	}

	.repres-box-marker-4 {
		right: 14%;
	}

	.repres-box-marker-5 {
		right: 21%;
	}

	.repres-box-marker-6 {
		right: 29%;
	}
}

@media(max-width:1400px) {
	.repres-contact-box {
		width: 50%;
	}

	.repres-text {
		width: 100%;
	}
}

@media(max-width:992px) {
	.repres-wrapp {
		display: block;
	}

	.repres-title {
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		padding-bottom: 30px;

		span {
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			text-align: center;
		}
	}

	.repres-text {
		width: 97%;
		font-weight: 400;
		font-size: 14px;
		line-height: 23px;
		text-align: center;
		padding-bottom: 16px;
	}

	.repres-padding {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.repres-head,
	.repres-body {
		padding-left: 0;
	}

	.repres-body {
		padding-top: 20px;

	}

	.repres-contact-box {
		width: 33%;
		margin-bottom: 26px;

	}

	.repres-city {
		font-size: 16px;
		line-height: 19px;
	}

	.repres-adress {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
	}

	.repres-contact-body {
		justify-content: space-between;
	}

	.repres-contact {
		padding-left: 0;
		padding-bottom: 5px;
	}

	.repres-btn {
		margin-left: auto;
		margin-right: auto;
	}
}

@media(max-width:770px) {
	.repres-contact-box {
		width: 50%;


	}
}

@media(max-width:572px) {
	.repres-marker {
		width: 7px;
		height: 7px;
		border: 2px solid #458CFE;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
	}

	.repres-box-marker {
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
		flex-direction: column-reverse;

		height: 40px;
		padding-top: 20px;
	}

	.repres-marker-city {
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
		position: relative;
	}

	.repres-box-marker-1 {
		bottom: 24%;
		left: 6%;

		.repres-marker-city {
			position: relative;
			top: 8px;
			left: 26px;
		}
	}

	.repres-box-marker-2 {
		left: 6%;
		flex-direction: row;
		bottom: 48%;
	}

	.repres-box-marker-3 {
		left: 40%;
		bottom: 57%;

		.repres-marker-city {
			top: 8px;
			left: 8px;
		}
	}

	.repres-box-marker-4 {
		right: 17%;
		bottom: 56%;

		.repres-marker-city {
			top: 8px;
			left: -1px;
		}
	}

	.repres-box-marker-5 {
		right: 17%;
		bottom: 28%;
		flex-direction: column;

		.repres-marker-city {
			top: 8px;
			left: -1px;
		}
	}

	.repres-box-marker-6 {
		right: 27%;
		top: 7%;
		flex-direction: row;
	}
}

@media(max-width:450px) {
	.repres-btn {
		width: 100%;
	}
}

@media(max-width:350px) {
	.repres-city {
		font-size: 14px;
		line-height: 19px;
	}

	.repres-adress {
		font-size: 12px;
		line-height: 16px
	}
}

/*-video-*/
@media(max-width:992px) {
	.video {
		height: 515px;
	}

	.video-btn {
		margin-top: 0;
		margin-bottom: 34px;
	}

	.video-link {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
	}

	.video-box {
		margin-bottom: 133px;
	}
}

/*-company-*/
@media(max-width:1580px) {
	.form-box-two {
		max-width: 100%;
	}

	.form-box-two {
		top: -50%;
	}


}

@media(max-width:1400px) {


	.conpany-form {
		width: 48%;
	}

	.company-coll {
		width: 48%;
		flex-direction: column-reverse;
	}

	.company-page {
		padding-left: 0;
		padding-bottom: 50px;
	}

	.form-two {
		padding-left: 20px;
		padding-right: 20px;
	}

	.form-box-two {
		max-width: 100%;
		top: -32%;
	}
}


@media(max-width:992px) {
	.company-padding {
		padding-bottom: 0;
	}

	.form-box-two {
		width: 100%;
	}

	.company-coll {
		width: 100%;
		flex-direction: column;
	}

	.company-wrap {
		flex-direction: column-reverse;
	}

	.conpany-form {
		width: 100%;
		height: 470px;
		margin-bottom: 20px;
	}

	.form-box-two {
		top: auto;
		bottom: 0;
	}

	.form-two {
		padding-left: 0;
		padding-right: 0;
	}

	.form-row-coll-two {
		padding-bottom: 0;
	}

	.form-row-line-two {
		padding-top: 50px;
	}

	.company-img {
		width: 100%;
	}

	.company-box-img {
		width: 180px;
		margin-bottom: 50px;
	}

	.conpany-form {
		margin-bottom: 50px;
	}

	.company-coll {
		align-items: center;
	}

	.company-title {
		text-align: center;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;

		span {

			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			text-align: center;
		}
	}

	.company-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
		text-align: center;
	}

	.company-link {
		width: 100%;
		justify-content: center;
		font-weight: 700;
		font-size: 16px;
		line-height: 18px;
		padding-top: 16px;
	}

	.company-svg {
		width: 50px;
	}

	.form-text-2-two {
		font-weight: 400;
		font-size: 9px;
		line-height: 10px;
		text-align: center;
		width: 70%;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}


}

/*-partners-*/
@media(max-width:1200px) {
	.partners-img {
		width: 95%;
		height: 100%;
		object-fit: contain;
	}

	.partners-box {
		width: 60%;
	}

	.partners-box-img {
		align-items: center;
	}

	.partners-coll {
		width: 40%;
	}
}

@media(max-width:992px) {
	.partners-wrapp {
		flex-direction: column;
	}

	.partners-box {
		width: 100%;
	}

	.partners-coll {
		width: 100%;
	}

	.partners-box-img {
		width: 50%;
	}

	.partners-title {
		text-align: center;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;

	}

	.partners-text {
		width: 250px;
		margin: 0 auto;
		text-align: center;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		padding-bottom: 44px;
	}

	.partners-padding {
		padding-top: 28px;
		padding-bottom: 26px;
	}
}



@media(max-width:572px) {
	.partners-box-img {
		width: 50%;
		height: 80px;
		align-items: start;
		margin-bottom: 10px;

	}

	.partners-img {
		width: 70%;
	}
}



/*-news-*/
@media(max-width:1400px) {
	.news-col {
		width: 31%;
	}

	.news-col-2 {
		width: 69%;
	}

	.news-slaider {
		width: 58vw;
	}
}

@media(max-width:1200px) {
	.news-col {
		width: 38%;
	}

	.news-col-2 {
		width: 62%;
	}

}

@media(max-width:992px) {
	.news-col {
		width: 100%;
		padding-bottom: 45px;
	}

	.news-col-2 {
		width: 100%;
	}

	.news-slaider {
		width: 100%;
	}

	.news-wrapp {
		display: block;
	}

	.news-title {
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		text-align: center;

		span {
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			text-align: center;
		}

		padding-bottom: 13px;
	}

	.news-link {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		width: 100%;
		display: block;
	}

	.news-padding {
		padding-top: 33px;
		padding-bottom: 42px;
	}



	.news-box-number {
		width: auto;
		min-width: 41px;
		height: 41px;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		top: 7px;
		left: 43px;
	}

	.news-box-title {
		font-weight: 700;
		font-size: 14px;
		line-height: 23px;
		padding-bottom: 6px;
	}

	.news-box {
		position: relative;
		min-height: 200px;
		padding: 68px 25px 40px 20px;
	}

	.news-box-link {
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
	}

	.news-slaider .slick-dots {
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding-top: 25px;
	}
}

@media(max-width:768px) {
	.news-box-line {
		margin: 0;
	}


}

/*-footer-*/
@media(max-width:1690px) {
	.footer-list-link {
		margin-right: 15px;
	}

	.footer-mail {
		padding-right: 0;
	}

	.footer-logo {
		margin-right: 15px;
	}
}

@media(max-width:1400px) {
	.footer-tell {
		display: block;
	}

	.footer-tell {
		margin-bottom: 10px;
	}
}


@media(max-width:1200px) {
	.footer-nav {
		display: none;
	}

	.footer-head {
		flex-direction: column;
	}

	.footer-contact {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}

	.footer-mess-box {
		display: block;
		margin-bottom: 15px;
		margin-top: 15px;
	}

	.footer-mail {
		text-align: center;
		display: block;
		width: 100%;
	}

	.footer-mess {
		margin: 7px;
	}

	.footer-logo {
		padding-bottom: 24px;
	}

	.footer-tell {
		text-align: center;
		margin-bottom: 20px;
	}

	.footer-body {
		flex-direction: column;
	}

	.footer-body-coll {
		padding-bottom: 10px;
	}

	.footer-logo {
		margin-right: 0;
	}
}

@media(max-width:992px) {
	.footer {
		padding-top: 20px;
	}



	.footer-tell {
		padding-left: 0;
		font-weight: 700;
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 0;
	}

	.footer-mess {
		img {
			width: 28px;
			height: 28px;
		}
	}

	.footer-body {
		margin-top: 11px;
	}

	.footer-body-coll {
		text-align: center;
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
		padding-bottom: 8px;
	}

	.footer-body-link {
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
	}
}

/*-page-btn-*/
@media(max-width:992px) {
	.page-btn {
		width: 40px;
		height: 40px;
		right: 5%;
		bottom: 5%;
	}

	.page-btn-svg {
		width: 20px;
		height: 15px;
	}
}

/*-popup-video-*/
@media(max-width:770px) {
	.popup-video {
		width: 90%;
		margin-top: 60px;
	}

	.video-close {
		right: 50%;
		transform: translateX(50%);
		top: -50px;
		width: 40px;
		height: 40px;
	}
}

/*-Services-*/
@media(max-width:1450px) {
	.main-img-service {
		position: relative;

		height: 469px;
		object-fit: cover;
	}

	.main-title-span-service {
		display: block;
		padding-bottom: 20px;
	}

	.main-coll-service {
		width: 50%;
	}

	.main-box-img-service {
		width: 50%;
	}

	.main-title-service {
		font-size: 54px;
		line-height: 54px;
	}

	.main-coll-service:before {
		width: 120%;
	}

	.main-service-text {
		width: 80%;
	}



	.main-img-service {
		width: 120%;
	}
}

@media(max-width:1400px) {
	.main-coll-service {
		width: 65%;
	}

	.main-box-img-service {
		width: 35%;
	}

}

@media(max-width:1200px) {
	.main-coll-service {
		left: 28px;

		&::after {
			left: -100px;
		}

		&::before {
			left: -75px;
		}
	}

	.main-service-text {
		width: 85%;
	}
}

@media(max-width:992px) {
	.breadcrumb-padding {
		padding-top: 8px;
	}

	.breadcrumb-list-link,
	.breadcrumb-list-inner {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
	}

	.main-coll-service {
		width: 100%;
		left: 0;
	}

	.main-title-service {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 26px;
		line-height: 120%;
	}

	.main-title-span-service {
		padding-bottom: 5px;
	}

	.main-service-text {
		width: 100%;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		color: #252525;
		padding-top: 14px;
	}

	.btn-link-svg {
		width: 50px;
	}

	.main-padding-service {
		padding-bottom: 50px;
	}
}

/*-advant-*/
@media(max-width:1400px) {
	.advant-box {
		padding-left: 50px;
		padding-right: 10px;

		&::before {
			left: 10px;
		}
	}

	.advant-box-title {
		font-size: 20px;
	}
}

@media(max-width:1200px) {
	.advant-box-text {
		font-size: 14px;
	}

	.advant-box-title {
		font-size: 17px;
	}
}

@media(max-width:992px) {
	.advant-padding {
		padding-top: 50px;
		padding-bottom: 20px;
	}

	.advant-container {
		.slick-dots {
			padding-top: 0;
		}
	}
}

@media(max-width:768px) {
	.advant-box-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
	}

	.advant-box-title {
		font-weight: 600;
		font-size: 22px;
		line-height: 120%;
	}

	.advant-box {

		padding: 19px 15px 22px 60px;
		margin: 0;

		&::before {
			left: 17px;
			top: 16px;
			transform: scale(.8);
		}
	}


}

/*-job-service-*/
@media(max-width:992px) {
	.job-service {
		padding-top: 42px;
	}
}

/*-kinds-padding-service-*/
@media(max-width:992px) {
	.kinds-padding-service {
		padding-top: 80px;
		padding-bottom: 69px;
	}
}

/*-conditions-*/
@media(max-width:992px) {
	.conditions-title {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		text-align: center;
		padding-bottom: 32px;
	}

	.conditions-padding {
		padding-top: 50px;
		padding-bottom: 214px;
	}

	.conditions-list {
		width: 100%;
	}

	.conditions-num {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		width: 41px;
		height: 41px;
		margin-right: 17px;
	}

	.conditions-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
	}

	.conditions-list-inner {
		padding-bottom: 27px;
	}
}

/*-cods-*/
@media(max-width:1580px) {
	.cods-coll {
		width: 50%;
	}

	.cods-form {
		width: 50%;
	}

	.cods-form-box {
		max-width: 90%;
		top: -111%;
		left: 0;
	}
}

@media(max-width:1200px) {
	.cods-form-box {
		max-width: 100%;
	}
}

@media(max-width:992px) {
	.cods-wrap {
		flex-direction: column-reverse;
	}

	.cods-coll {
		padding-top: 77px;
		width: 100%;
	}

	.cods-form {
		width: 100%;
		height: 437px;
	}

	.cods-form-box {
		width: 95%;
		right: 0;
		top: auto;
		bottom: 0;
	}

	.cods-title {
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		text-align: center;

		span {
			font-weight: 600;
			font-size: 24px;
			line-height: 120%;
		}

		padding-bottom: 29px;
	}

	.cods-container {
		padding-left: 0;
		padding-right: 0;
	}

	.cods-head-name {
		font-weight: 600;
		font-size: 14px;
		line-height: 120%;
	}

	.cods-name {
		font-weight: 400;
		font-size: 12px;
		line-height: 120%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		min-width: 73px;
		text-align: right;
	}

	.cods-table-row {
		padding: 12px;
	}

	.cods-table {
		padding-bottom: 23px;
	}

	.cods-btn-link {
		padding-left: 10px;
	}

	.cods-padding {
		padding-bottom: 42px;
	}
}

@media(max-width:572px) {
	.cods-form-text {
		width: 70%;
	}
}

/*-contacts-*/
@media(max-width:1450px) {
	.main-text-contacts {
		width: 44%;
	}
}

@media(max-width:1440px) {
	.main-coll-contacts {
		left: 28px;

		&::after {
			left: -100px;
		}

		&::before {
			left: -75px;
		}
	}

	.main-img-contacts {
		right: 50px;
	}
}

@media(max-width:1200px) {
	.main-img-contacts {
		right: 10px;
	}

	.main-text-contacts {
		width: 40%;
	}
}

@media(max-width:992px) {
	.main-text-contacts {
		width: 100%;
	}

	.main-box-img-contacts {
		display: none;
	}

	.main-coll-contacts {
		left: 0;
		padding-right: 20px;
		padding-bottom: 0;
	}
}

/*-map-*/
@media(max-width:1200px) {
	.maps-coll {
		width: 30%;
	}

	.maps-box {
		width: 65%;
	}
}

@media(max-width:992px) {
	.maps-coll {
		width: 100%;
		padding-bottom: 14px;
	}

	.maps-box {
		width: 100%;
	}

	.maps-row {
		display: block;
		margin-bottom: 32px;
	}

	.maps-container {
		padding-left: 0;
		padding-right: 0;
	}

	.maps-title {
		font-weight: 600;
		font-size: 22px;
		line-height: 120%;
		text-align: center;
	}

	.maps-link {
		text-align: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 120%;
	}

	.maps-padding {
		padding-top: 39px;
		padding-bottom: 20px;
	}



}

@media(max-width:572px) {
	.map {
		height: 200px;
	}


	.ymaps-2-1-79-zoom {
		top: -47px;
		left: 12px;
		width: 38px !important;
		height: 18px !important;
		background: #fff !important;
		opacity: 1 !important;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
		border-radius: 8px;
		overflow: hidden;

	}

	.ymaps-2-1-79-zoom__button {
		background: #fff !important;
		border: none !important;
		box-shadow: none !important;

	}

	.ymaps-2-1-79-zoom__button {
		position: absolute !important;
		left: 50% !important;
		transform: translateX(-50%);
		width: 100%;
		height: 40px !important;
	}

	.ymaps-2-1-79-zoom__icon {
		left: 50% !important;
	}

	.ymaps-2-1-79-zoom__plus .ymaps-2-1-79-zoom__icon {
		background-image: url('../../assets/img/icon-map.svg') !important;
	}

	.ymaps-2-1-79-zoom__minus .ymaps-2-1-79-zoom__icon {
		background-image: url('../../assets/img/icon-map-2.svg') !important;
	}

	.ymaps-2-1-79-zoom__icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

/*-additional-*/

@media(max-width:992px) {
	.additional-wrapp {
		display: block;
	}

	.additional-title {
		width: 100%;
		text-align: center;
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;

		span {
			font-weight: 600;
			font-size: 24px;
			line-height: 120%;
		}

		padding-bottom: 28px;
	}

	.additional-coll {
		display: block;
		width: 100%;
		padding-right: 14px;
	}

	.additional-padding {
		padding-top: 54px;
		padding-bottom: 10px;
	}

	.additional-box-num {
		width: 41px;
		height: 41px;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		margin-right: 17px;
	}

	.additional-container {
		padding-left: 0;
		padding-right: 0;
	}

	.additional-box-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
	}

	.additional-box {
		padding-bottom: 28px;
	}
}

/*-seminars-*/
@media(max-width:1400px) {

	.seminars-coll-1,
	.seminars-coll-2 {
		width: 47%;
	}

	.seminars-img {
		object-fit: cover;
	}
}

@media(max-width:992px) {
	.seminars-wrapp {
		display: block;
	}

	.seminars-coll-1,
	.seminars-coll-2 {
		width: 100%;
	}

	.seminars-coll-2 {
		display: flex;
		flex-direction: column;
	}

	.seminars-img--two {
		order: 1;
	}

	.seminars-title {
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
	}

	.seminars-text {
		font-weight: 500;
		font-size: 16px;
		line-height: 120%;
		padding-bottom: 32px;
	}

	.seminars-list-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
	}

	.seminars-padding {
		padding-top: 50px;
		padding-bottom: 25px;
	}

	.seminars-list {
		padding-top: 11px;
		padding-bottom: 12px;
	}

	.seminars-list-padding {
		padding-top: 10px;
		padding-bottom: 18px;
	}

	.seminars-list-link {
		display: block;
		padding-top: 10px;
		padding-bottom: 24px;
	}
}

@media(max-width:572px) {
	.seminars-img {
		height: 253px;
		margin-bottom: 25px;
	}
}

/*-partners-cooperation-padding-*/
@media(max-width:992px) {
	.partners-cooperation-padding {
		padding-top: 60px;
		padding-bottom: 72px;
	}
}

/*-certificate-*/
@media(max-width:1400px) {
	.certificate-slaider {
		width: 60%;
	}

	.certificate-title {
		width: 35%;
	}

	.certificate-title,
	.certificate-title span {
		font-size: 32px;
	}
}

@media(max-width:1200px) {
	.certificate-slaider {
		width: 70%;
	}

	.certificate-title {
		width: 25%;
	}

	.certificate-title,
	.certificate-title span {
		font-size: 32px;
	}
}

@media(max-width:992px) {
	.certificate-wrapp {
		display: block;
	}

	.certificate-slaider {
		width: 100%;
		margin: 0;
	}

	.certificate-title {
		width: 100%;
		text-align: center;
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;

		span {
			font-weight: 600;
			font-size: 24px;
			line-height: 120%;
		}

		padding-bottom: 20px;
	}

	.certificate-box {
		height: auto;
	}

	.certificate-img {
		margin: 20px;
	}

	.certificate-padding {
		padding-top: 26px;
		padding-bottom: 26px;
	}

	.certificate-container {
		padding-left: 0;
		padding-right: 0;
	}

	.footer-cooperation {
		padding-top: 62px;
	}
}

@media(max-width:572px) {
	.certificate-box {
		margin: 10px;
	}
}

/*-articles-*/
@media(max-width:1440px) {
	.articles-box {
		width: 32%;
	}
}

@media(max-width:1200px) {
	.articles-box.--head {
		width: 48%;
	}

	.articles-box {
		width: 31%;
	}
}

@media(max-width:992px) {
	.articles-wrapp {
		display: block;
	}

	.articles-box {
		display: none;
	}

	.articles-box.--head {
		width: 100%;
		display: block;
	}

	.articles-box-text {
		display: none;
	}

	.articles-title {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		text-align: center;
		padding-bottom: 32px;

		span {
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 120%;
		}
	}

	.articles-data {
		font-weight: 500;
		font-size: 12px;
		line-height: 120%;
		padding-bottom: 7px;
	}

	.articles-box-title {
		font-weight: 600;
		font-size: 18px;
		line-height: 120%;
	}

	.articles-wrapp {
		padding-bottom: 0;
	}

	.navigation-list-link {
		min-width: 30px;
		height: 30px;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 120%;
	}

	.articles-padding {
		padding-bottom: 45px;
	}
}

@media(max-width:572px) {
	.articles-img {
		height: 152px;
		margin-bottom: 7px;
	}
}

/*-news-news-*/
@media(max-width:992px) {
	.news-title-span-fix {
		display: inline-block !important;
	}

	.news-col-news {
		padding-bottom: 17px;
	}

	.news-padding-news {
		padding-bottom: 57px;
	}

	.job-news {
		padding-top: 40px;

	}
}

/*-form-one-news-*/
@media(max-width:992px) {
	.forms-back-news {
		height: 313px;
	}

	.forms-one-news {
		padding-bottom: 58px;
	}
}
