.additional {
	background: #F9F9F9;
}

.additional-padding {
	padding-top: 100px;
	padding-bottom: 58px;
}

.additional-title {
	width: 30%;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 120%;
	color: #000000;

	span {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 600;
		font-size: 36px;
		line-height: 120%;
		color: #9EC419;
	}
}

.additional-box-num {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: #9EC419;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 60px;
	height: 60px;
	border: 7px solid rgba(230, 240, 232, 0.47);
	margin-right: 22px;
}

.additional-box-text {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;

	color: #252525;
}

.additional-wrapp {
	display: flex;
	justify-content: space-between;
}

.additional-coll {
	width: 67%;
	display: grid;
	grid-template-columns: 47% 47%;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 40px;
}

.additional-box {
	display: flex;
	justify-content: start;
	padding-bottom: 40px;
}
