.advant {
	background: #F5F5F5;
}

.advant-padding {
	padding-top: 90px;
	padding-bottom: 90px;
}



.advant-box {
	background: #9EC419;
	border-radius: 12px;
	padding: 26px 30px 26px 88px;
	margin: 10px;
	position: relative;

	&::before {
		content: url('../../assets/img/advant-icon.svg');
		position: absolute;
		left: 28px;
		top: 28px;
	}
}

.advant-box-title {
	font-family: 'Gilroy';
	font-weight: 600;
	font-size: 24px;
	line-height: 120%;
	color: #FFFFFF;
	padding-bottom: 12px;
}

.advant-box-text {
	font-family: 'Gilroy';
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #FFFFFF;
}
