.breadcrumb-padding {
	padding-top: 40px;
}

.breadcrumb-list-inner+.breadcrumb-list-inner:before {
	content: "|";
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.breadcrumb-list {
	overflow: hidden;
}

.breadcrumb-list-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-decoration-line: underline;
	color: #252525;
	display: contents;

}



.breadcrumb-list-inner {
	display: inline;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #C4C4C4;
	display: contents;
	white-space: nowrap;
}
