.content {
	background: #F9F9F9;
}

.content-padding {
	padding-top: 100px;
	padding-bottom: 93px;
}

.content-text {
	width: 49%;
}

.content-text.--right {
	margin-left: auto;
	margin-right: 5px;
}

.content-text {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;

	color: #252525;
	padding-bottom: 12px;
}

.content-img {
	width: 100%;
	height: 340px;
	object-fit: cover;
	margin-top: 30px;
	margin-bottom: 30px;
}
