.forms-one {
	position: relative;
	z-index: 1;
}

.forms-back {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 47%;
	background: #F5F5F5;
}

.form {
	background: #9EC419;
	border-radius: 12px;

}

.form-box {
	max-width: 1553px;
	margin: 0 auto;
	position: relative;

	z-index: 1;

	&::after {
		content: "";
		position: absolute;
		width: 94%;
		height: 100px;
		background: #6D8909;
		border-radius: 12px;
		left: 50%;
		bottom: -11px;
		z-index: -2;
		box-shadow: 3px 9px 12px rgba(109, 137, 9, .7);
		transform: translateX(-50%);
	}
}

.form-1 {
	padding: 44px 68px 39px 68px;
}

.form-title {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	color: #FFFFFF;
	padding-bottom: 10px;
}

.form-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	padding-bottom: 36px;
}

.form-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 34px;
}

.form-input {
	width: 32%;
	height: 72px;
	padding-left: 23px;
	padding-right: 23px;

	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #888888;

	border-color: rgba(255, 255, 255, 0);
	outline: none;
	background: #FFFFFF;
	border-radius: 6px;

	&::placeholder {
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		display: flex;
		align-items: center;

		color: #888888;
	}
}



.form-subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	padding-bottom: 8px;
}

.form-subtext {
	font-weight: 400;
	font-size: 15px;
	line-height: 17px;
	display: flex;
	color: #FFFFFF;
	flex-direction: column;

	span {
		font-weight: 400;
		font-size: 15px;
		line-height: 17px;

		color: #FFFFFF;
	}
}

.form-row-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 47px;
}

.form-row-coll {
	width: 33%;
}

.form-row-line {
	padding-top: 35px;
	width: 66%;

}

.form-line-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 14px;
}

.form-line-text {
	font-weight: 900;
	font-size: 15px;
	line-height: 19px;

	color: #7EA100;

}

.form-row-3 {
	display: flex;
	align-items: center;

}

.form-btn {
	background: #7EA200;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;

	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	color: #FFFFFF;

	cursor: pointer;
	width: 32%;
	height: 84px;
	border: none;
	outline: none;
	cursor: pointer;
}

.form-btn-svg {
	margin-left: 35px;
}

.form-text-2 {
	width: 26%;
	font-weight: 400;
	font-size: 15px;
	line-height: 17px;
	color: #FFFFFF;
	margin-left: 26px;
}

.form-box-two {
	max-width: 611px;
	position: absolute;
	left: 4px;
	top: -73%;
}

.form-two {
	padding: 26px 68px 26px;
}

.form-title-two {
	text-align: center;
}

.form-text-two {
	text-align: center;
	padding-bottom: 27px;
}

.form-row-two {
	flex-direction: column;
	padding-bottom: 7px;
}

.form-input-two {
	width: 100%;
	margin-bottom: 23px;
}

.form-row-2-two {
	display: block;
	padding-bottom: 33px;
}

.form-row-coll-two {
	width: 100%;
	padding-bottom: 42px;
}

.form-row-line-two {
	width: 100%;
}

.form-row-3-two {
	display: block;
}

.form-btn-two {
	width: 100%;
}

.form-text-2-two {
	width: 80%;
	text-align: center;
	margin: 30px auto 0;
}
