.map {
	width: 100%;
	height: 346px;
}

.maps-padding {
	padding-top: 150px;
}

.maps-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.maps-coll {
	width: 25%;
}

.maps-box {
	width: 75%;
}

.maps-title {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 120%;
	color: #9EC419;
	padding-bottom: 10px;
}

.maps-link {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	padding-bottom: 10px;
	color: #252525;
	display: block;

}
