.video {
	background: url('../../assets/img/video.webp') no-repeat center center/cover;
	height: 720px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.video-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 91px;
	height: 91px;
	border-radius: 91px;
	background: #9EC419;
	margin: 50px auto 34px;
}

.video-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-decoration: underline;
	color: #FFFFFF;
	text-align: center;
}
