<section class="about about-padding">
	<div class="container about-container">
		<div class="about-wrap">
			<h3 data-aos="fade-up" class="about-title">
				О компании
			</h3>
			<p data-aos="fade-up" class="about-text">
				Компания по сбору и переработке отработанных индустриальных и моторных масел «ДВЧ-Менеджмент»
				(«ДВЧ-Эко»), профессионально занимается сбором, покупкой и вывозом отработанных автомобильных и
				индустриальных масел. За время работы наша компания зарекомендовала себя стабильным и надежным
				партнером, обеспечивая высокую оперативность, надежность и гибкий подход к своим клиентам.

			</p>
			<p data-aos="fade-up" class="about-text">
				Целями проекта являются сбор и рациональное использование отработанных масел, вовлечение их в
				хозяйственный оборот, а также предотвращение и минимизация негативного воздействия на окружающую среду.

			</p>
			<p data-aos="fade-up" class="about-text">
				ИООО «ДВЧ-Менеджмент» создан резервуарный парк и подготовлена площадка для накопления (сбора)
				отработанных масел, проведены работы по созданию производственных мощностей, по их переработке.

			</p>
			<h4 data-aos="fade-up" class="about-subtitle">
				Сдать отслужившее срок масло на переработку – единственно правильный способ утилизации.

			</h4>
			<p data-aos="fade-up" class="about-text">
				Отработанные масла являются достаточно опасным отходом, поскольку при попадании в окружающую среду очень
				плохо разлагаются и обезвреживаются в природных условиях. Большая часть таких нефтепродуктов
				представляет собой источник загрязнения атмосферы, водоемов и почвы. Чтобы представить масштабы вреда,
				достаточно вдуматься только в одну цифру: один литр отработанного масла может загрязнять тысячу литров
				воды!

			</p>
			<h3 data-aos="fade-up" class="about-subtitle">
				Соберем отходы — сделаем планету чище!
			</h3>
		</div>
	</div>
</section>
