<section class="additional additional-padding">
	<div class="container additional-container">
		<div class="additional-wrapp">
			<h3 class="additional-title">
				<span>
					Дополнительные
				</span>услуги
			</h3>
			<div class="additional-coll">
				<div class="additional-box">
					<div class="additional-box-num">
						01
					</div>
					<div class="additional-box-text">
						Предоставляем специальные условия и цены для оптовых клиентов.
					</div>
				</div>
				<div class="additional-box">
					<div class="additional-box-num">
						02
					</div>
					<div class="additional-box-text">
						Предоставляем маркетинговую поддержку пунктам сбора.
					</div>
				</div>
				<div class="additional-box">
					<div class="additional-box-num">
						03
					</div>
					<div class="additional-box-text">
						Помогаем в решении технических вопросов с учётом специфики предприятия и оборудования на нём.
					</div>
				</div>
				<div class="additional-box">
					<div class="additional-box-num">
						04
					</div>
					<div class="additional-box-text">
						Оказываем консультативную помощь вашим сотрудникам, технологам и т.д.
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
