<section data-aos="fade-down" class="advant advant-padding">
	<div class="container advant-container">
		<div class="advant-slaider">
			<div class="advant-box">
				<h3 class="advant-box-title">
					Своевременная оплата
				</h3>
				<p class="advant-box-text">
					Расчитываем стоимость и производим оплату в срок
				</p>
			</div>
			<div class="advant-box">
				<h3 class="advant-box-title">
					Самовывоз товара
				</h3>
				<p class="advant-box-text">
					Вывоз собственным транспортом для всех категорий клиентов
				</p>
			</div>
			<div class="advant-box">
				<h3 class="advant-box-title">
					Выгодное сотрудничестово
				</h3>
				<p class="advant-box-text">
					Предлагаем сотрудничество на постоянной договорной основе
				</p>
			</div>

		</div>
	</div>
</section>
