<section class="articles articles-padding">
	<div class="container articles-container">
		<h3 class="articles-title">
			<span>Актуальные</span> новости
		</h3>
		<div class="articles-wrapp">
			<div data-aos="fade-right" class="articles-box --head">
				<img loading="lazy" width="697" height="318" src="./assets/img/articles/articles-1.webp" alt=""
					class="articles-img">
				<time class="articles-data" datetime="2022-05-14">14.05.22</time>
				<h4 class="articles-box-title">
					Открытие новых пунктов по приёму отработанных масел в Минске
				</h4>
				<p class="articles-box-text">
					Рады Вам сообщить, что в Минске на улице Стебенёва, 12 открылись 3 новых пункта по приёму
					отработанных масел. Мы предлагаем ...
				</p>
				<a href="news-1.html" aria-label="Подробнее" class="articles-link">
					Подробнее
				</a>
			</div>
			<div data-aos="fade-left" class="articles-box --head">
				<img loading="lazy" width="697" height="318" src="./assets/img/articles/articles-2.webp" alt=""
					class="articles-img">
				<time class="articles-data" datetime="2022-05-14">14.05.22</time>
				<h4 class="articles-box-title">
					Полуприцеп-цистерна для перевозки отработанных масел готова к эксплуатации
				</h4>
				<p class="articles-box-text">
					Рады Вам сообщить, что в Минске на улице Стебенёва, 12 открылись 3 новых пункта по приёму
					отработанных масел. Мы предлагаем ...
				</p>
				<a href="news-1.html" aria-label="Подробнее" class="articles-link">
					Подробнее
				</a>
			</div>
			<div data-aos="fade-right" class="articles-box">
				<img loading="lazy" width="458" height="318" src="./assets/img/articles/articles-3.webp" alt=""
					class="articles-img">
				<time class="articles-data" datetime="2022-05-14">14.05.22</time>
				<h4 class="articles-box-title">
					Крупский завод переработал первые 10 тысяч тонн
				</h4>

				<a href="news-1.html" aria-label="Подробнее" class="articles-link">Подробнее</a>
			</div>
			<div data-aos="fade-up" class="articles-box">
				<img loading="lazy" width="458" height="318" src="./assets/img/articles/articles-4.webp" alt=""
					class="articles-img">
				<time class="articles-data" datetime="2022-05-14">14.05.22</time>
				<h4 class="articles-box-title">
					Крупский завод переработал первые 10 тысяч тонн
				</h4>

				<a href="news-1.html" aria-label="Подробнее" class="articles-link">Подробнее</a>
			</div>
			<div data-aos="fade-left" class="articles-box">
				<img loading="lazy" width="458" height="318" src="./assets/img/articles/articles-5.webp" alt=""
					class="articles-img">
				<time class="articles-data" datetime="2022-05-14">14.05.22</time>
				<h4 class="articles-box-title">
					Крупский завод переработал первые 10 тысяч тонн
				</h4>

				<a href="news-1.html" aria-label="Подробнее" class="articles-link">Подробнее</a>
			</div>

		</div>

		<ul class="navigation-list">
			<li class="navigation-list-inner">
				<a href="#" aria-label="Страница 1" class="navigation-list-link --active">
					1
				</a>
			</li>
			<li class="navigation-list-inner">
				<a href="#" aria-label="Страница 2" class="navigation-list-link">
					2
				</a>
			</li>
			<li class="navigation-list-inner">
				<a href="#" aria-label="Страница 3" class="navigation-list-link">
					3
				</a>
			</li>
			<li class="navigation-list-inner">
				...
			</li>
			<li class="navigation-list-inner">
				<a href="#" aria-label="Страница 24" class="navigation-list-link">
					24
				</a>
			</li>

			<li class="navigation-list-inner">
				<a href="#" aria-label="Следующая" class="navigation-list-link">
					<svg class="navigation-list-svg" width="20" height="10" viewBox="0 0 20 10" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path class="navigation-list-path" d="M15 1L19 5M19 5L15 9M19 5L1 5" stroke="#7EA007"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</a>
			</li>
		</ul>
	</div>
</section>
