<section data-aos="flip-up" class="certificate certificate-padding">
	<div class="container certificate-container">
		<div class="certificate-wrapp">
			<h3 class="certificate-title">
				<span>
					Лицензии
				</span>, сертификаты
			</h3>
			<div class="certificate-slaider gallery">
				<a href="./assets/img/certificate/certificate-1.webp" class="certificate-box">
					<img width="238" height="333" src="./assets/img/certificate/certificate-1.webp" alt=""
						class="certificate-img">
					<img width="300" height="395" class="certigicate-ram" src="../../assets/img/certificate/ram.webp"
						alt="">

				</a>
				<a href="./assets/img/certificate/certificate-2.webp" class="certificate-box">
					<img width="238" height="333" src="./assets/img/certificate/certificate-2.webp" alt=""
						class="certificate-img">
					<img width="300" height="395" class="certigicate-ram" src="../../assets/img/certificate/ram.webp"
						alt="">
				</a>

			</div>
		</div>
	</div>
</section>
