<section class="conditions conditions-padding">
	<div class="container conditions-container">
		<h3 class="conditions-title">
			Условия приёмки товаров
		</h3>
		<ul class="conditions-list">
			<li class="conditions-list-inner">
				<div class="conditions-num">
					01
				</div>
				<div class="conditions-text">
					Отработанное масло не загрязнено посторонними предметами, допустимый уровень содержания воды менее
					5%.
				</div>
			</li>
			<li class="conditions-list-inner">
				<div class="conditions-num">
					02
				</div>
				<div class="conditions-text">
					Обеспечение подъезда для спецтехники. 40-ка метровая система шлангов позволяет откачать отработанные
					масла, хранящиеся в подземных, наземных и иных резервуарах.
				</div>
			</li>
			<li class="conditions-list-inner">
				<div class="conditions-num">
					03
				</div>
				<div class="conditions-text">
					Объём отработанного масла должен составлять не менее 0,4 т (2 бочки).
				</div>
			</li>
		</ul>
	</div>
</section>
