<div class="content content-padding">
	<div class="container content-container">
		<p class="content-text">
			ООО «ДВЧ-Менеджмент» переработало первые 10 тысяч тонн использованных масел, сообщил журналистам начальник
			отдела по связям с общественностью предприятия Дмитрий Могилевкий сегодня во время встречи.
		</p>
		<p class="content-text">
			«С начала запуска завода мы переработали 10 тысяч тонн углеводородосодержащих отходов. Пока завод небольшой,
			но это только первый этап строительства. После того, как достигнем объёма переработки свыше определённого
			уровня, начнём вторую и третью очереди строительства», — отметил Дмитрий Могилевский.
		</p>
		<p class="content-text">
			Всего на заводе трудятся около 60 тысяч человек. Здесь делают разделительные смазки для крупного
			домостроения, материалы для шпалопропитки,обеспыливатели и антислеживатели для предприятий калийных
			удобрений.
		</p>
		<img width="1414" height="340" src="./assets/img/articles/content-1.webp" alt="" class="content-img">
		<p class="content-text  --right">
			ООО «ДВЧ-Менеджмент» переработало первые 10 тысяч тонн использованных масел, сообщил журналистам начальник
			отдела по связям с общественностью предприятия Дмитрий Могилевкий сегодня во время встречи.
		</p>
		<p class="content-text --right">
			«С начала запуска завода мы переработали 10 тысяч тонн углеводородосодержащих отходов. Пока завод небольшой,
			но это только первый этап строительства. После того, как достигнем объёма переработки свыше определённого
			уровня, начнём вторую и третью очереди строительства», отметил Дмитрий Могилевский.
		</p>
	</div>
</div>
