<footer class="footer">
	<div class="container footer-container">
		<div class="footer-head">
			<div class="footer-coll">
				<a href="index.html" class="logo footer-logo">
					<img width="44" height="69" src="./assets/img/logo.svg" alt="" class="logo-img">
					<div class="logo-text">
						Sbor <br>
						masel
					</div>
				</a>
				<nav class="footer-nav">
					<ul class="footer-nav-list">
						<li class="footer-list-inner">
							<a href="index.html" class="footer-list-link --active" aria-label="О компании">
								О компании
							</a>
						</li>
						<li class="footer-list-inner">
							<a href="service.html" class="footer-list-link" aria-label="Наши услуги">
								Наши услуги
							</a>
						</li>
						<li class="footer-list-inner">
							<a href="cooperation.html" class="footer-list-link" aria-label="Сотрудничество">
								Сотрудничество
							</a>
						</li>
						<li class="footer-list-inner">
							<a href="news.html" class="footer-list-link" aria-label="Новости">
								Новости
							</a>
						</li>
						<li class="footer-list-inner">
							<a href="contacts.html" class="footer-list-link" aria-label="Контакты">
								Контакты
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="footer-contact">

				<a href="mailto:info@sbormasel.by" class="footer-mail" aria-label="info@sbormasel.by">
					info@sbormasel.by
				</a>
				<div class="footer-mess-box">
					<a href="#" class="footer-mess" aria-label="tellegramm">
						<img src="./assets/img/tell.svg" alt="" class="header-mess-img">
					</a>
					<a href="#" class="footer-mess" aria-label="viber">
						<img src="./assets/img/viber.svg" alt="" class="header-mess-img">
					</a>
				</div>
				<div class="footer-contact-wrap">
					<a href="tel:375333775000" class="footer-tell" aria-label="+375 (33) 377-50-00">
						+375 (33) 377-50-00
					</a>
					<a href="tel:375173775000" class="footer-tell" aria-label="+375 (17) 377-50-00">
						+375 (17) 377-50-00
					</a>
				</div>

			</div>
		</div>
		<div class="footer-body">
			<div class="footer-body-coll">
				© Все права защищены sbormasel.by 2021
			</div>
			<div class="footer-body-coll">
				Сайт разработан компанией <a href="#" class="footer-body-link">Likeit</a>
			</div>
		</div>
	</div>
</footer>
