<section data-aos="fade-right" class="forms-one forms-one-news">
	<div class="forms-back forms-back-news"></div>
	<div class="form-box ">
		<form id="form-1" action="/" class="form form-1">
			<h3 class="form-title form-title-one">
				Сдать отработанное масло
			</h3>
			<p class="form-text form-text-one">
				Наши специалисты подберут для вас наиболее выгодные условия
			</p>
			<div class="form-row form-row-one ">
				<input type="text" name="name" class="form-input form-input-one" placeholder="Ваше Имя*">
				<input type="text" name="phone" class="form-input  form-input-one mask-tell"
					placeholder="Контактный телефон*">
				<input type="text" name="city" class="form-input  form-input-one" placeholder="Город">
			</div>
			<div class="form-row-2 form-row-2-one">
				<div class="form-row-coll form-row-coll-one">
					<h4 class="form-subtitle form-subtitle-one">
						Объем, литр
					</h4>
					<p class="form-subtext form-subtext-one">
						<span>
							Укажите желаемое количество литров вывозимого</span> отработанного масла для более точного
						просчета
						стоимости
					</p>
				</div>
				<div class="form-row-line form-row-line-one">
					<div id="slider-tooltips" class="slider-tooltips"></div>
					<input id="slider-tooltips-1" type="hidden" class="slider-tooltips-input" value="1000">
					<div class="form-line-row">
						<div class="form-line-text">
							100
						</div>
						<div class="form-line-text">
							10 000
						</div>
					</div>
				</div>
			</div>
			<div class="form-row-3 form-row-3-one">
				<button type="submit" class="form-btn form-btn-one">
					Отправить
					<svg class="form-btn-svg" width="70" height="16" viewBox="0 0 70 16" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M69.7071 8.70711C70.0976 8.31658 70.0976 7.68342 69.7071 7.29289L63.3431 0.928932C62.9526 0.538408 62.3195 0.538408 61.9289 0.928932C61.5384 1.31946 61.5384 1.95262 61.9289 2.34315L67.5858 8L61.9289 13.6569C61.5384 14.0474 61.5384 14.6805 61.9289 15.0711C62.3195 15.4616 62.9526 15.4616 63.3431 15.0711L69.7071 8.70711ZM0 9H69V7H0V9Z"
							fill="white" />
					</svg>

				</button>
				<p class="form-text-2 form-text-2-one">
					Нажимая на кнопку "Отправить", вы даете согласие
					на обработку персональных данных
				</p>
			</div>
		</form>
	</div>
</section>
