<header id="header" class="header">
	<div class="container header-wrapp header-container">
		<a href="index.html" class="logo">
			<img width="44" height="69" src="./assets/img/logo.svg" alt="" class="logo-img">
			<div class="logo-text">
				Sbor <br>
				masel
			</div>
		</a>

		<nav class="header-nav">
			<button class="header-close --close">
				<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M24 24L2 2" stroke="#000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
					</path>
					<path d="M2 24L24 2" stroke="#000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
					</path>
				</svg>
			</button>
			<ul class="header-nav-list">
				<li class="header-list-inner">
					<a href="index.html" class="header-list-link" aria-label="О компании">
						О компании
					</a>
				</li>
				<li class="header-list-inner">
					<a href="service.html" class="header-list-link" aria-label="Наши услуги">
						Наши услуги
					</a>
				</li>
				<li class="header-list-inner">
					<a href="cooperation.html" class="header-list-link" aria-label="Сотрудничество">
						Сотрудничество
					</a>
				</li>
				<li class="header-list-inner">
					<a href="news.html" class="header-list-link --active" aria-label="Новости">
						Новости
					</a>
				</li>
				<li class="header-list-inner">
					<a href="contacts.html" class="header-list-link" aria-label="Контакты">
						Контакты
					</a>
				</li>
				<li class="header-list-inner">
					<a href="mailto:info@sbormasel.by" class="header-mail-mob" aria-label="info@sbormasel.by">
						info@sbormasel.by
					</a>
				</li>

			</ul>
		</nav>
		<div class="header-contact">
			<a href="mailto:info@sbormasel.by" class="header-mail" aria-label="info@sbormasel.by">
				info@sbormasel.by
			</a>
			<div class="header-contact-wrap">
				<a href="tel:375333775000" class="header-tell" aria-label="+375 (33) 377-50-00">
					+375 (33) 377-50-00
				</a>
				<a href="tel:375173775000" class="header-tell" aria-label="+375 (17) 377-50-00">
					+375 (17) 377-50-00
				</a>
			</div>
			<a href="#" class="header-mess">
				<img src="./assets/img/tell.svg" alt="" class="header-mess-img" aria-label="telegramm">
			</a>
			<a href="#" class="header-mess">
				<img src="./assets/img/viber.svg" alt="" class="header-mess-img" aria-label="viber">
			</a>
			<button class="header-menu-open">
				<svg class="header-menu-open-svg" width="31" height="21" viewBox="0 0 31 21" fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<g opacity="0.8">
						<path d="M0 0H31V3.5H0V0Z" fill="black" />
						<path d="M0 8.75H31V12.25H0V8.75Z" fill="black" />
						<path d="M0 17.5H31V21H0V17.5Z" fill="black" />
					</g>
				</svg>
			</button>
		</div>
	</div>
</header>
