<meta charset="UTF-8">
<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="">
<meta name="description" content="">

<!--favicon-->
<link rel="icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<title>{{ title }}</title>

<style>
	.header {
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: start;
	}

	.logo-img {
		width: auto;
		height: auto;
	}

	.logo-text {
		font-style: normal;
		font-weight: 700;
		font-size: 23px;
		line-height: 18px;
		color: #252525;
		margin-left: 12px;
		text-transform: uppercase;
		padding-top: 7px;
	}

	.header-wrapp {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header-nav-list {
		display: flex;
	}

	.header-contact {
		display: flex;
		align-items: center;
		padding-right: 30px;
	}

	.header-mess {
		margin-left: 15px;
	}

	.header-contact-wrap {
		padding-right: 20px;
	}

	.header-tell {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 18px;
		text-transform: uppercase;

		color: #7EA100;

		padding-left: 24px;
	}

	.header-mail {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		text-decoration-line: underline;

		color: #252525;
		padding-right: 18px;
	}

	.header-list-link {
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 18px;
		color: #252525;
		margin-right: 56px;
		padding-bottom: 45px;
		position: relative;
		transition: .4s;


	}

	.header-list-link:hover {
		color: #C4C4C4;


	}

	.header-list-link:hover::after {
		opacity: 0.8;
	}

	.header-list-link::after {
		content: '';
		width: 100%;
		height: 5px;
		left: 0;
		bottom: 0;
		position: absolute;
		background: #9EC419;
		opacity: 0;
		transition: .4s;
	}

	.header-list-link.--active {
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 18px;

		color: #C4C4C4;

	}

	.header-list-link.--active::after {
		opacity: .8;
	}

	.header-menu-open {
		background: none;
		cursor: pointer;
		border: none;
		padding: 0;
		margin-left: 19px;
		align-items: center;
		justify-content: center;
		display: none;
	}

	.header-close {
		cursor: pointer;
		align-items: center;
		justify-content: center;
		background: none;
		border: none;
		outline: none;
		position: absolute;
		right: 15px;
		top: 15px;
		display: none;
	}

	.header-mail-mob {
		display: none;
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		text-decoration-line: underline;

		color: #252525;
	}

	.header-mess-img {
		width: auto;
		height: auto;
	}

	.main-padding {
		padding-top: 50px;
		padding-bottom: 16px;
	}

	.main-title {
		font-weight: 700;
		font-size: 64px;
		line-height: 69px;
		color: #252525;


		padding-bottom: 13px;
	}

	.main-title span {
		font-weight: 700;
		color: #9EC419;
	}


	.main-link {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #414141;
		padding-right: 13px;
		margin-right: 18px;
		border-right: 1px solid #414141;


	}

	.main-link:nth-last-child(1) {
		border: none;
		margin-right: 0;
	}

	.main-link:hover {
		text-decoration: underline;
	}

	.main-text {
		font-weight: 700;
		color: #9EC419;
	}

	.main-wrapp {
		display: flex;
		justify-content: space-between;
	}


	.main-coll {
		left: 105px;
		position: relative;
		padding-top: 90px;

	}

	.main-coll::after {
		content: url('../../assets/img/main/main-logo.svg');
		position: absolute;
		left: -153px;
		top: 42%;
		transform: translateY(-50%);
	}

	.main-coll::before {
		content: '';
		position: absolute;
		width: 458px;
		height: 364px;
		top: 25px;
		z-index: -1;
		left: -120px;
		border: 21px solid rgba(230, 240, 232, 0.47);

	}

	.main-img {
		width: auto;
		height: auto;
	}

	.main-box {
		padding-bottom: 20px;
		padding-bottom: 41px;
	}

	.main-coll-service {
		left: 95px;
		padding-top: 98px;

	}

	.main-coll-service::before {
		width: 105%;
		height: 85%;
		left: -105px;
	}

	.main-coll-service::after {
		left: -134px;
		top: 45%;
	}

	.main-service-text {
		width: 70%;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 120%;
		color: #252525;
		padding-top: 18px;
		padding-bottom: 29px;
	}

	.main-padding-service {
		padding-bottom: 130px;
	}

	/*-main-coll-news-*/

	.main-coll-news::before {
		height: 100%;
	}

	.main-coll-news::after {
		top: 54%;
	}

	.main-title-news {
		width: 80%;
		padding-bottom: 40px;
	}

	.main-data {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 120%;
		color: #C4C4C4;
		display: block;
		padding-bottom: 50px;
	}

	.main-padding-news {
		padding-bottom: 160px;
	}

	/*-main-contacts-*/
	.main-box-img-contacts {
		position: relative;
	}

	.main-img-contacts {
		position: absolute;
		right: 83px;
		top: -52px;
		width: 525px;
		height: 479px;
	}

	.main-coll-contacts {
		left: 93px;

	}

	.main-coll-contacts::before {
		width: 100%;
		height: 100%;
		left: -100px;
	}

	.main-coll-contacts::after {
		left: -134px;
		top: 58%;
	}

	.main-text-contacts {
		width: 42%;
		padding-bottom: 45px;
	}
</style>



<noscript>
	<link rel="stylesheet" href="assets/css/style-news.min.css">
</noscript>
<script type="text/javascript">
	/* CSS #1 */
	var giftofspeed = document.createElement('link');
	giftofspeed.rel = 'stylesheet';
	giftofspeed.href = 'assets/css/style-news.min.css';
	giftofspeed.type = 'text/css';
	var godefer = document.getElementsByTagName('link')[0];
	godefer.parentNode.insertBefore(giftofspeed, godefer);

</script>
<link rel="stylesheet" href="assets/css/style-adaptive.min.css">
