<section class="kinds kinds-padding">
	<div class="container job-container">
		<div class="kinds-wrapp">
			<div class="kinds-coll">
				<h4 class="kinds-subtitle">
					Виды масел
				</h4>
				<a href="#" class="kinds-link">
					Условия приёма<br>
					отработанных масел и нефтепродуктов
				</a>
			</div>
			<div class="kinds-coll-2">
				<h3 class="kinds-title">
					Принимаются следующие виды
					<span>
						отработанных масел
					</span>
				</h3>
				<a href="#" class="kinds-link kinds-link-mob">
					Условия приёма<br>
					отработанных масел и нефтепродуктов
				</a>
				<p class="kinds-text">
					Мы осуществляем сбор отработанных масел по всей территории Республики Беларусь
				</p>
				<div class="kinds-box">
					<div class="kinds-box-col">
						<a href="#" class="kinds-box-link">
							Моторные
						</a>
						<a href="#" class="kinds-box-link">
							Гидравлические
						</a>
						<a href="#" class="kinds-box-link">
							Турбинные

						</a>
					</div>
					<div class="kinds-box-col">
						<a href="#" class="kinds-box-link">
							Компрессионные
						</a>
						<a href="#" class="kinds-box-link">
							Трансмиссионные
						</a>
						<a href="#" class="kinds-box-link">
							Индустриальные
						</a>
					</div>
					<div class="kinds-box-col">
						<a href="#" class="kinds-box-link">
							Авиационные
						</a>
						<a href="#" class="kinds-box-link">
							Трансформаторные
						</a>

					</div>


				</div>
			</div>
		</div>
	</div>
</section>
