<main data-aos="fade-up" class="main main-padding">
	<div class="container">
		<div class="main-wrapp">
			<div class="main-coll">
				<h1 class="main-title">
					<span>
						Сбор
					</span>
					отработанных
					масел
				</h1>
				<div class="main-box">
					<a href="#" class="main-link" aria-label="Официально">
						Официально
					</a>
					<a href="#" class="main-link" aria-label="Лицензия">
						Лицензия
					</a>
					<a href="#" class="main-link" aria-label="Срочный выезд">
						Срочный выезд
					</a>
					<a href="#" class="main-link" aria-label="Собственная автотехника">
						Собственная автотехника
					</a>
					<a href="#" class="main-link" aria-label="Выгодные условия">
						Выгодные условия
					</a>
				</div>
				<p class="main-text">
					Работаем по всей территории Республики Беларусь
				</p>
			</div>
			<div class="main-box-img">
				<img loading="lazy" width="600" height="440" src="./assets/img/main/main.webp" alt="" class="main-img">
			</div>
		</div>
	</div>
</main>
