<main data-aos="fade-up" class="main main-padding main-padding--contacts">
	<div class="container main-container-service">
		<div class="main-wrapp">
			<div class="main-coll main-coll-contacts">
				<h1 class="main-title">
					Контакты
				</h1>

				<p class="main-service-text main-text-contacts">
					Мы осуществляем сбор отработанных масел по всей территории Республики Беларусь: функционируют центры
					сбора, пункты приема у населения, а также представительства в каждой области.

				</p>


			</div>
			<div class="main-box-img-contacts ">
				<img width="480" height="436" src="./assets/img/main/main-5.webp" alt="" class="main-img-contacts">
			</div>
		</div>
	</div>
</main>
