<main data-aos="fade-up" class="main main-padding main-padding-service">
	<div class="container main-container-service">
		<div class="main-wrapp">
			<div class="main-coll main-coll-service">
				<h1 class="main-title main-title-service">
					<span class="main-title-span-service">
						Утилизация
					</span>
					отработанных масел
				</h1>

				<p class="main-service-text">
					Быстрый и удобный способ сдать отработанное масло —
					Онлайн-заявка
				</p>

				<a href="#" class="main-btn-service btn-link" aria-label="Подробней о утилизации">
					Подробнее
					<svg class="btn-link-svg" width="70" height="15" viewBox="0 0 70 15" fill="none"
						xmlns="http://www.w3.org/2000/svg" style="user-select: auto;">
						<path
							d="M69.7071 8.08528C70.0976 7.69476 70.0976 7.06159 69.7071 6.67107L63.3431 0.307106C62.9526 -0.0834184 62.3195 -0.0834184 61.9289 0.307106C61.5384 0.69763 61.5384 1.3308 61.9289 1.72132L67.5858 7.37817L61.9289 13.035C61.5384 13.4256 61.5384 14.0587 61.9289 14.4492C62.3195 14.8398 62.9526 14.8398 63.3431 14.4492L69.7071 8.08528ZM0 8.37817H69V6.37817H0V8.37817Z"
							fill="#9EC419" style="user-select: auto;"></path>
					</svg>

				</a>
			</div>
			<div class="main-box-img main-box-img-service">
				<img loading="lazy" width="600" height="440" src="./assets/img/main/main-2.webp" alt=""
					class="main-img main-img-service">
			</div>
		</div>
	</div>
</main>
