<main data-aos="fade-up" class="main main-padding main-padding-service main-padding-company">
	<div class="container main-container-service">
		<div class="main-wrapp">
			<div class="main-coll main-coll-service  main-coll-company">
				<h1 class="main-title main-title-service">
					<span class="main-title-span-service main-company-title">
						О компании
					</span>
					«ДВЧ-Менеджмент»
				</h1>
				<time class="main-data main-data-company" datetime="2022-09-14">14 сентября, 2022</time>
			</div>
			<div class="main-box-img main-box-img-service main-box-img-company">
				<img width="600" height="440" src="./assets/img/main/main-company.webp" alt=""
					class="main-img main-img-service">
			</div>
		</div>
	</div>
</main>
