<section class="maps maps-padding">
	<div class="container maps-container">
		<div data-aos="fade-up" class="maps-row">
			<div class="maps-coll">
				<h3 class="maps-title">
					Минск
				</h3>
				<a href="mailto:leonid@mdd-bel.com" aria-label="leonid@mdd-bel.com" class="maps-link">
					leonid@mdd-bel.com
				</a>
				<a href="tel:375333707108" aria-label="Тел: + 375 33 370 71 08" class="maps-link">Тел: + 375 33
					370 71 08</a>
			</div>
			<div class="maps-box">
				<div id="map-0" class="map"></div>
			</div>
		</div>
		<div data-aos="fade-up" class="maps-row">
			<div class="maps-coll">
				<h3 class="maps-title">
					Минская область
				</h3>
				<a href="mailto:leonid@mdd-bel.com" aria-label="leonid@mdd-bel.com" class="maps-link">
					leonid@mdd-bel.com
				</a>
				<a href="tel:375333707108" aria-label="Тел: + 375 33 370 71 08" class="maps-link">Тел: + 375 33
					370 71 08</a>
			</div>
			<div class="maps-box">
				<div id="map-1" class="map"></div>
			</div>
		</div>
		<div data-aos="fade-up" class="maps-row">
			<div class="maps-coll">
				<h3 class="maps-title">
					Гродненская область
				</h3>
				<a href="mailto:leonid@mdd-bel.com" aria-label="leonid@mdd-bel.com" class="maps-link">
					leonid@mdd-bel.com
				</a>
				<a href="tel:375333707108" aria-label="Тел: + 375 33 370 71 08" class="maps-link">Тел: + 375 33
					370 71 08</a>
			</div>
			<div class="maps-box">
				<div id="map-2" class="map"></div>
			</div>
		</div>
		<div data-aos="fade-up" class="maps-row">
			<div class="maps-coll">
				<h3 class="maps-title">
					Витебская область
				</h3>
				<a href="mailto:p.krent@mdd-bel.com" aria-label="p.krent@mdd-bel.com" class="maps-link">
					p.krent@mdd-bel.com
				</a>
				<a href="tel:375333707103" aria-label="Тел: +  375 33 370 71 03" class="maps-link">Тел: + 375 33 370 71
					03</a>
			</div>
			<div class="maps-box">
				<div id="map-3" class="map"></div>
			</div>
		</div>
		<div data-aos="fade-up" class="maps-row">
			<div class="maps-coll">
				<h3 class="maps-title">
					Гомельская область
				</h3>
				<a href="mailto:p.krent@mdd-bel.com" aria-label="p.krent@mdd-bel.com" class="maps-link">
					p.krent@mdd-bel.com
				</a>
				<a href="tel:375333707103" aria-label="Тел: +  375 33 370 71 03" class="maps-link">Тел: + 375 33 370 71
					03</a>
			</div>
			<div class="maps-box">
				<div id="map-4" class="map"></div>
			</div>
		</div>
		<div data-aos="fade-up" class="maps-row">
			<div class="maps-coll">
				<h3 class="maps-title">
					Могилёвская область
				</h3>
				<a href="mailto:o.grinevich@mdd-bel.com" aria-label="o.grinevich@mdd-bel.com" class="maps-link">
					o.grinevich@mdd-bel.com
				</a>
				<a href="tel:375297041000" aria-label="Тел: + 375 29 704 10 00" class="maps-link">Тел: + 375 29 704 10
					00</a>
			</div>
			<div class="maps-box">
				<div id="map-5" class="map"></div>
			</div>
		</div>
		<div data-aos="fade-up" class="maps-row">
			<div class="maps-coll">
				<h3 class="maps-title">
					Брестская область
				</h3>
				<a href="mailto:o.grinevich@mdd-bel.com" aria-label="o.grinevich@mdd-bel.com" class="maps-link">
					o.grinevich@mdd-bel.com
				</a>
				<a href="tel:375297041000" aria-label="Тел: + 375 29 704 10 00" class="maps-link">Тел: + 375 29 704 10
					00</a>
			</div>
			<div class="maps-box">
				<div id="map-6" class="map"></div>
			</div>
		</div>
	</div>
</section>
