<section data-aos="flip-up" class="news news-padding">
	<div class="container news-container">
		<div class="news-wrapp">
			<div class="news-col">
				<h3 class="news-title">
					<span>
						Актуальные
					</span>
					новости компании
				</h3>
				<a href="#" class="news-link">
					Смотреть все новости
				</a>
			</div>
			<div class="news-col-2">
				<div class="news-slaider">
					<div class="news-box-line">
						<div class="news-box">
							<div class="news-box-number">
								01
							</div>
							<h4 class="news-box-title">
								Полезноее
							</h4>
							<a href="#" class="news-box-link">
								Компания по сбору и переработке отработанных индустриальных и моторных масел
								«ДВЧ-Менеджмент»
							</a>
						</div>
					</div>
					<div class="news-box-line">
						<div class="news-box">
							<div class="news-box-number">
								02
							</div>
							<h4 class="news-box-title">
								Полезноее
							</h4>
							<a href="#" class="news-box-link">
								Компания по сбору и переработке отработанных индустриальных и моторных масел
								«ДВЧ-Менеджмент»
							</a>
						</div>
					</div>
					<div class="news-box-line">
						<div class="news-box">
							<div class="news-box-number">
								03
							</div>
							<h4 class="news-box-title">
								Полезноее
							</h4>
							<a href="#" class="news-box-link">
								Компания по сбору и переработке отработанных индустриальных и моторных масел
								«ДВЧ-Менеджмент»

							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
