<section data-aos="flip-up" class="news news-padding news-padding-news">
	<div class="container news-container">
		<div class="news-wrapp">
			<div class="news-col news-col-news">
				<h3 class="news-title">
					<span class="news-title-span-fix">
						Полезная
					</span>
					информация
				</h3>

			</div>
			<div class="news-col-2">
				<div class="news-slaider">
					<div class="news-box-line">
						<div class="news-box">
							<div class="news-box-number">
								01
							</div>
							<h4 class="news-box-title">
								Полезноее
							</h4>
							<a href="#" class="news-box-link" aria-label="Компания по сбору и переработке отработанных индустриальных и моторных масел
							«ДВЧ-Менеджмент»">
								Компания по сбору и переработке отработанных индустриальных и моторных масел
								«ДВЧ-Менеджмент»
							</a>
						</div>
					</div>
					<div class="news-box-line">
						<div class="news-box">
							<div class="news-box-number">
								02
							</div>
							<h4 class="news-box-title">
								Полезноее
							</h4>
							<a href="#" class="news-box-link" aria-label="Компания по сбору и переработке отработанных индустриальных и моторных масел
							«ДВЧ-Менеджмент»">
								Компания по сбору и переработке отработанных индустриальных и моторных масел
								«ДВЧ-Менеджмент»
							</a>
						</div>
					</div>
					<div class="news-box-line">
						<div class="news-box">
							<div class="news-box-number">
								03
							</div>
							<h4 class="news-box-title">
								Полезноее
							</h4>
							<a href="#" class="news-box-link" aria-label="Компания по сбору и переработке отработанных индустриальных и моторных масел
							«ДВЧ-Менеджмент»">
								Компания по сбору и переработке отработанных индустриальных и моторных масел
								«ДВЧ-Менеджмент»

							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
