<section class="partners partners-padding">
	<div class="container partners-container">
		<div class="partners-wrapp">
			<div class="partners-coll">
				<h3 class="partners-title">
					Наши партнеры
				</h3>
				<p class="partners-text">
					Мы осуществляем сбор
					отработанных масел по всей
					территории Республики Беларусь
				</p>
			</div>
			<div class="partners-box">
				<div class="partners-box-img">
					<img src="./assets/img/partners/partners-1.webp" alt="" class="partners-img">
				</div>
				<div class="partners-box-img">
					<img src="./assets/img/partners/partners-2.webp" alt="" class="partners-img">
				</div>
				<div class="partners-box-img">
					<img src="./assets/img/partners/partners-3.webp" alt="" class="partners-img">
				</div>
				<div class="partners-box-img ">
					<img src="./assets/img/partners/partners-4.webp" alt="" class="partners-img">
				</div>
				<div class="partners-box-img  partners-box-center">
					<img src="./assets/img/partners/partners-5.webp" alt="" class="partners-img">
				</div>
				<div class="partners-box-img  partners-box-center">
					<img src="./assets/img/partners/partners-7.webp" alt="" class="partners-img">
				</div>
				<div class="partners-box-img partners-box-center">
					<img src="./assets/img/partners/partners-8.webp" alt="" class="partners-img">
				</div>
				<div class="partners-box-img  partners-box-center">
					<img src="./assets/img/partners/partners-9.webp" alt="" class="partners-img">
				</div>

			</div>
		</div>
	</div>
</section>
