<div id="popup-video-1" class="popup-video  mfp-hide ">

	<video id="video-1" preload="metadata" class="video-container" src="./assets/video/test.mp4" loop controls>
		Тег video не поддерживается вашим браузером.
		<a href="./assets/video/test.mp4">Скачайте видео</a>.
	</video>
	<button aria-label="Закрытие видео" class="video-close  ">
		<svg width="20" height="20" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M25 1L1 25M1 1L25 25" stroke="#fff" />
		</svg>

	</button>
</div>
