<section class="repres repres-padding">
	<div class="container repres-container">
		<div class="repres-wrapp">
			<div data-aos="fade-right" class="repres-head">
				<h3 class="repres-title">
					<span>
						Представители
					</span>

					ИООО «ДВЧ-Менеджмент»
				</h3>
				<p class="repres-text">
					Мы осуществляем сбор отработанных масел по всей территории Республики Беларусь: функционируют центры
					сбора, пункты приема у населения, а также представительства в каждой области.

				</p>
			</div>
			<div data-aos="fade-left" class="repres-img-wrapp">
				<div class="repres-img-box">
					<img src="./assets/img/repres-map.webp" alt="" class="repres-img">
					<div class="repres-box-marker repres-box-marker-1">
						<a aria-label="+375 (17)377-50-00" href="tel:375173775000" class="repres-marker-link"> <span>
								+375 (17)377-50-00
							</span></a>
						<div class="repres-marker "></div>
						<span class="repres-marker-city">
							Брест
						</span>

					</div>

					<div class="repres-box-marker repres-box-marker-2">
						<a href="tel:375173775000" class="repres-marker-link" aria-label="+375 (17)377-50-00"> <span>
								+375 (17)377-50-00
							</span></a>
						<div class="repres-marker "></div>

						<span class="repres-marker-city">
							Гродно
						</span>
					</div>

					<div class="repres-box-marker  repres-box-marker-3">
						<a aria-label="+375 (17)377-50-00" href="tel:375173775000" class="repres-marker-link"> <span>
								+375 (17)377-50-00
							</span></a>
						<div class="repres-marker "></div>

						<span class="repres-marker-city">
							Минск
						</span>
					</div>

					<div class="repres-box-marker --active  repres-box-marker-4">
						<a aria-label="+375 (17)377-50-00" href="tel:375173775000"
							class="repres-marker-link repres-box-marker-position-2 repres-marker-link-right">
							<span>
								+375 (17)377-50-00
							</span>
						</a>
						<div class="repres-marker "></div>

						<span class="repres-marker-city">
							Могилев
						</span>
					</div>

					<div class="repres-box-marker  repres-box-marker-5">

						<span class="repres-marker-city">
							Гомель
						</span>
						<a aria-label="+375 (17)377-50-00" href="tel:375173775000"
							class="repres-marker-link repres-box-marker-position repres-marker-link-right ">
							<span>
								+375 (17)377-50-00
							</span>
						</a>
						<div class="repres-marker "></div>
					</div>

					<div class="repres-box-marker  repres-box-marker-6 ">

						<span class="repres-marker-city">
							Витебск
						</span>
						<a aria-label="+375 (17)377-50-00" href="tel:375173775000"
							class="repres-marker-link repres-box-marker-position repres-marker-link-right">
							<span>
								+375 (17)377-50-00
							</span>

						</a>
						<div class="repres-marker "></div>

					</div>
				</div>
			</div>

			<div data-aos="fade-right" class="repres-body">
				<div class="repres-contact">
					<div class="repres-contact-box">
						<h4 class="repres-city">
							Минск
						</h4>
						<a aria-label="info@sbormasel.by" href="mailto:info@sbormasel.by" class="repres-adress">
							info@sbormasel.by
						</a>
						<a aria-label="Тел: +375 17 377 50 00" href="tel:375173775000" class="repres-adress">
							Тел: +375 17 377 50 00
						</a>
					</div>
					<div class="repres-contact-body">

						<div class="repres-contact-box">
							<h4 class="repres-city">
								Брестская область
							</h4>
							<a aria-label="o.grinevich@mdd-bel.com" href="mailto:o.grinevich@mdd-bel.com"
								class="repres-adress">
								o.grinevich@mdd-bel.com
							</a>

							<a aria-label="Тел: + 375 29 704 10 00" href="tel:375297041000" class="repres-adress">
								Тел: + 375 29 704 10 00
							</a>
						</div>

						<div class="repres-contact-box">
							<h4 class="repres-city">
								Минская область
							</h4>
							<a aria-label="leonid@mdd-bel.com" href="mailto:leonid@mdd-bel.com" class="repres-adress">
								leonid@mdd-bel.com
							</a>

							<a aria-label="Тел: + 375 33 370 71 08" href="tel:375333707108" class="repres-adress">
								Тел: + 375 33 370 71 08
							</a>
						</div>

						<div class="repres-contact-box">
							<h4 class="repres-city">
								Витебская область
							</h4>
							<a aria-label="p.krent@mdd-bel.com" href="mailto:p.krent@mdd-bel.com" class="repres-adress">
								p.krent@mdd-bel.com
							</a>

							<a aria-label="Тел: + 375 33 370 71 03" href="tel:375333707103" class="repres-adress">
								Тел: + 375 33 370 71 03
							</a>
						</div>

						<div class="repres-contact-box">
							<h4 class="repres-city">
								Могилёвская область
							</h4>
							<a aria-label="o.grinevich@mdd-bel.com" href="mailto:o.grinevich@mdd-bel.com"
								class="repres-adress">
								o.grinevich@mdd-bel.com
							</a>

							<a aria-label="Тел: + 375 29 704 10 00" href="tel:375297041000" class="repres-adress">
								Тел: + 375 29 704 10 00
							</a>
						</div>

						<div class="repres-contact-box">
							<h4 class="repres-city">
								Гродненская область
							</h4>
							<a aria-label="leonid@mdd-bel.com" href="mailto:leonid@mdd-bel.com" class="repres-adress">
								leonid@mdd-bel.com

							</a>

							<a aria-label="Тел: + 375 33 370 71 08" href="tel:375333707108" class="repres-adress">
								Тел: + 375 33 370 71 08
							</a>
						</div>

						<div class="repres-contact-box">
							<h4 class="repres-city">
								Гомельская область
							</h4>
							<a aria-label="p.krent@mdd-bel.com" href="mailto:p.krent@mdd-bel.com" class="repres-adress">
								p.krent@mdd-bel.com
							</a>

							<a aria-label="Тел: + 375 33 370 71 03" href="tel:375333707103" class="repres-adress">
								Тел: + 375 33 370 71 03
							</a>
						</div>
					</div>
				</div>
				<a aria-label="Смотреть на карте" href="#" class="repres-btn">
					<svg class="repres-svg" width="19" height="25" viewBox="0 0 19 25" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M8.33538 0.0517328C6.22986 0.319535 4.28846 1.25924 2.78648 2.73748C1.26742 4.23249 0.323879 6.15788 0.0671374 8.28647C-0.0680156 9.40748 -0.00142926 10.4024 0.287937 11.5854C1.13391 15.0436 3.89187 19.3457 8.07314 23.7294C9.1515 24.86 9.30898 25 9.5025 25C9.69028 25 9.98509 24.7303 11.132 23.5095C15.7396 18.6048 18.4539 14.0487 18.9286 10.4223C19.2897 7.66334 18.2664 4.77347 16.2066 2.73528C14.7925 1.33601 13.0536 0.454268 11.0087 0.0995268C10.3796 -0.00964682 9.0102 -0.0341302 8.33538 0.0517328ZM10.5632 5.19775C12.1743 5.63327 13.3049 6.76161 13.7359 8.36417C13.8715 8.86845 13.8639 9.89011 13.7207 10.4126C13.4296 11.4741 12.7744 12.3829 11.8954 12.9441C9.07184 14.7472 5.3737 12.917 5.15661 9.60907C5.07706 8.39736 5.53633 7.21751 6.43136 6.33395C7.08356 5.69015 7.82521 5.30174 8.73143 5.12943C9.1959 5.04107 10.1097 5.07518 10.5632 5.19775Z"
							fill="white" />
					</svg>
					Смотреть на карте
				</a>
			</div>


		</div>
	</div>
</section>
