<section class="seminars seminars-padding">
	<div class="container seminars-container">
		<div class="seminars-wrapp">
			<div data-aos="fade-down" class="seminars-coll-1">
				<h3 class="seminars-title">
					Тренинги и семинары
				</h3>
				<p class="seminars-text">
					Сотрудничество с экологами и крупными компаниями в рамках корпоративного обучения и проведения
					семинаров.
				</p>
				<p class="seminars-list-text">
					Будучи приверженцами высоких международных стандартов деятельности, реализация которых происходит в
					наиболее востребованных в современном обществе трендах:
				</p>
				<ul class="seminars-list seminars-list-padding">
					<li class="seminars-list-inner seminars-list-text">
						мы ценим деловую независимость;
					</li>
					<li class="seminars-list-inner seminars-list-text">
						инициируем и привлекаем для участия в конференциях, форумах, семинарах всех заинтересованных
						лиц;
					</li>
					<li class="seminars-list-inner seminars-list-text">
						стремимся к постоянному развитию и совершенствованию своей деятельности.
					</li>
				</ul>
				<img width="640" height="460" src="./assets/img/seminars/seminars-1.webp" alt="" class="seminars-img">
			</div>
			<div data-aos="fade-up" class="seminars-coll-2">
				<img width="640" height="460" src="./assets/img/seminars/seminars-2.webp" alt=""
					class="seminars-img seminars-img--two">
				<p class="seminars-list-text">
					Всегда открыты для новых контактов следующих направлений:
				</p>
				<ul class="seminars-list">
					<li class="seminars-list-inner seminars-list-text">
						сотрудничество с международными, национальными, региональными союзами, ассоциациями и другими
						общественными некоммерческими организациями экологов;
					</li>
					<li class="seminars-list-inner seminars-list-text">
						формирование информационных ресурсов в области сбора и регенерации отходов нефтепродуктов;
					</li>
					<li class="seminars-list-inner seminars-list-text">
						организация и участие в совместноорганизуемых международными объединениями конференциях,
						семинарах,
						сессиях, встречах;
					</li>
					<li class="seminars-list-inner seminars-list-text">
						поддержка инициативы по реализации проектов, направленных на решение проблем экологии;
					</li>
					<li class="seminars-list-inner seminars-list-text">
						помощь в реализации наиболее перспективных и социальнозначимых проектных предложений
						общественных
						инициатив.
					</li>
				</ul>
				<p class="seminars-list-text">
					Телефон по вопросам сотрудничества: <a class="seminars-list-text seminars-list-link"
						href="tel:375333707103">+375 (33)
						370-71-03</a>

				</p>
			</div>
		</div>
	</div>
</section>
