@import "../sass/vendor/font.scss";
@import "../sass/vendor/reset.scss";
@import "../sass/vendor/aos.scss";
@import "../sass/vendor/nouislider.min.scss";
/* Default style */

*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: 'Gilroy';
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #252525;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.page {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100vh;
}

input.error {
	border-color: red;
}


/* bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/containers";


@media(min-width:1400px) {
	.container {
		max-width: 1420px;
	}

	.header-container {
		max-width: 1885px;
	}


}

/* blocks */
@import "../sass/blocks/header.scss";
@import "../sass/blocks/main.scss";
@import "../sass/blocks/forms.scss";
@import "../sass/blocks/slider-tooltips.scss";
